
    <div class="row justify-content-start" style="margin-top:60px;margin-left:100px;">
      
      <div class="col-4">
          <h1>Projects To Do </h1>

            <ul class="list-group">
              <input type="text" value="To do things for Today?"/>
              <li class="list-group-item"><input type="checkbox"/> Learn Angular</li>
                <li class="list-group-item"><input type="checkbox"/>Fix issue</li>
                <li class="list-group-item"><input type="checkbox"/>Test</li>
              </ul>
          </div>
    
        <div class="col-4">
          <h1>Personall To Do</h1>
            <ul class="list-group">
                <input type="text" value="To do things for Today?"/>
                <li class="list-group-item"><input type="checkbox"/>Practice</li>
                <li class="list-group-item"><input type="checkbox"/>Exploreing</li>
                <li class="list-group-item"><input type="checkbox"/>Coding</li>
                <li class="list-group-item"><input type="checkbox"/>Publishing</li>
              </ul>
          </div>
    </div>

